<div class="loadingDiv" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
  </div>
<div class="container-fulid banner-inner">    
    <div id="wave_div"></div>
    <h2>Features</h2>    
</div>
<div class="container features">
    <section class="features_sec_main">
        <div class="features_sec_subtxt">
            <p class="mainText">Cryptoxygen platform is a complete solution for cryptocurrencies traders making their experience unique and unforgettable in the most social and animated trading environment.</p>
        </div>
        <div class="ico_features_sec">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 left_sec">
                    <h2>CRYPTOXYGEN TOKEN OXY2</h2>
                    <p>Our OXY2 is ERC20 based utility token offering the following unlimited services:</p>
                    <ul class="list_points">
                        <li>0% fees on transfers between Cryptoxygen exchange and wallet</li>
                        <li>Low fees on trading by using our tokens</li>
                        <li>Loyalty programs</li>
                    </ul>
                    <table class="table">
                        <tr>
                            <th>The Cryptoygen Token Ticker Symbol</th>
                            <td>OXY2</td>
                        </tr>
                        <tr>
                            <th>Ethereum Network Protocol</th>
                            <td>ERC20</td>
                        </tr>
                        <tr>
                            <th>Total Token Supply</th>
                            <td>250 000 000</td>
                        </tr>
                        <tr>
                            <th>Total Public Sale Supply</th>
                            <td>150 000 000</td>
                        </tr>
                        <tr>
                            <th>Public Sale Introduction Price</th>
                            <td>1 ETH= 1600 OXY2</td>
                        </tr>
                        <tr>
                            <th>Development Fund Breakdown</th>
                            <td>40% Development / 25% Marketing / 
                                    10% Payroll / 15% Security / 5% Legal /
                                    5% Other</td>
                        </tr>
                    </table>
                    <p>*The left over tokens will be burned.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 right_sec">
                    <img src="./assets/images/feature1.png" alt="feature">
                </div>
            </div> 
        </div>
        <div class="ico_features_sec">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 right_sec">
                    <img src="./assets/images/LaptopVGW1.png" alt="feature">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 left_sec">
                    <h2>Cryptocurrency Exchange Platform</h2>
                    <p>Cryptoxygen platform users will have immediate access to trade a list of 23 preselected and most traded coins by using debit/credit card or by transferring existing listed cryptocurrencies on our platform.</p>
                    <p>Cryptoxygen platform will be available in each Thomson Computing products which are distributed around the world, with more than one million units per year. Which means, one million of new potential users per year.</p>
                    <p>Our platform will support trading in Etherium, Litecoin, Bitcoin, Tether and OXY2 with high liquidity and volume.</p>
                    <p>We will list new tokens on our exchange platform by voting with our public investors and by choosing only the most realistic and promising ICO projects.</p>
                    <p>Cryptoxygen is a social trading platform, where traders can copy the most successful and high rated traders during the first 6 months period.</p>
                    <p>Cryptoxygen will also provide online trading courses for those who would like to improve their trading skills or to lean about the latest techniques and tools used in day to day trading operations.</p>
                    <p>Cryptoxygen will also give an overview of each listed token with the link to the website and brief description of market cup, number of tokens in circulation.</p>
                    <p>Platform will also integrate streaming news in order to keep our users informed and allow them to take quick opportunities on the fresh broadcasts.</p>
                </div>
            </div> 
        </div>
        <div class="ico_features_sec">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 left_sec">
                    <h2>Digital Crypto Wallet</h2>
                    <ul class="list_points">
                        <li>Store Cryptocurrencies with highest security available</li>
                        <li>Send / Receive Crypto & Tokens by using QR code</li>
                        <li>Track your transfers on blockchain</li>
                        <li>Built-in calculator</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 right_sec">
                    <img src="./assets/images/feature3.png" alt="feature">
                </div>
            </div>
        </div>
        <div class="ico_features_sec">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 right_sec">
                    <img src="./assets/images/feature4.png" alt="feature">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 left_sec">
                    <h2>The Business Additional Value</h2>
                    <h3>Cryptoxygen for all!</h3>
                    <p>We believe in sustainable growth and development of our project.</p>
                    <p>The next milestone in our development would be implementing “Cryptoxygen Lab”.</p>
                    <p>What is a “Cryptoxygen Lab?” It’s basically a small scale investment fund, that the size will depend on the performances of our financial health of the company. We will be looking into investing in start-ups involved in environmental and artificial intelligence projects.</p>
                    <p>Our own success can also be used in support for others and encouraging new projects and ideas by giving them “oxygen”.</p>
                </div>
            </div>
        </div>
    </section>
</div>
