<div class="loadingDiv" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
  </div>
<div class="container-fulid banner-inner">
    <div id="wave_div"></div>    
    <h2>Tools</h2>    
</div>

<div class="container features">
  <div class="col-lg-12 features_sec_main faq tools">
      <div class="row tool_blk_wrap">
      <div class="col-lg-4 tool_blk"  popover="Coming Soon!" triggers="hover">
          <div class="toolsec_wrap">
          <div class="dwnload_icon"></div>
          <div class="heading">
              <h5>Download Application</h5>
          </div>
          <div class="headline">
              <p>Download Cryptoxygen for your desktop or through iTunes and Google Play for mobile devices.</p>
          </div>
          </div>
      </div>
      <div class="col-lg-4 tool_blk" (click)="goto('contact')" style="cursor: pointer;" >
          <div class="toolsec_wrap">
          <div class="cstmr_sprt_icon"></div>
          <div class="heading">
              <h5>Customer Support</h5>
          </div>
          <div class="headline">
              <p>Open a customer support ticket with Cryptoxygen or contact our support team by phone. If you are experiencing difficulties please visit our “FAQ” page first for technical explanations.</p>
          </div>
          </div>
      </div>
        <div class="col-lg-4 tool_blk" (click)="goto('feedback')" style="cursor: pointer;">
          <div class="toolsec_wrap">
          <div class="fdback_icon"></div>
          <div class="heading">
              <h5>Feedback Survey</h5>
          </div>
          <div class="headline">
              <p>Cryptoxygen takes user satisfaction seriously and we want your feedback! Fill out this brief survey and provide any comments on how to better our platform.</p>
          </div>
          </div>
      </div>
      </div>
      <div class="row tool_blk_wrap">
        <div class="col-lg-4 tool_blk"  popover="Coming Soon!" triggers="hover">
            <div class="toolsec_wrap">
            <div class="list_icon"></div>
                <div class="heading">
                    <h5>List-A-Coin</h5>
                </div>
                <div class="headline">
                    <p>If you are a representative for another coin or token and would like to either be listed on our exchange or wallet application please apply here. We will ask you a few questions and contact your team for an interview</p>
                </div>
            </div>
        </div>
      <!-- <div class="col tool_blk"  popover="Coming Soon!" triggers="hover">
          <div class="toolsec_wrap">
          <div class="hw_leasing_icon"></div>
          <div class="heading">
              <h5>Hardware Leasing</h5>
          </div>
          <div class="headline">
              <p>Available in Phase Two, Cryptoxygen will offer hardware leases companies wishing to upgrade their systems. A new hardware system is not needed to install Cryptoxygen’s POS however we do recommend looking into new options!</p>
          </div>
          </div>
      </div>
        <div class="col tool_blk"  popover="Coming Soon!" triggers="hover">
          <div class="toolsec_wrap">
          <div class="window_icon"></div>
          <div class="heading">
              <h5>Request Window Marketing Cling</h5>
          </div>
          <div class="headline">
              <p>Cryptoxygen provides window cling marketing for physical stores and retail locations to show your customers you proudly accept cryptocurrency! Stores that display the acceptance of cryptocurrency usually have an influx of customers when correctly advertised. </p>
          </div>
          </div>
      </div> -->
      </div>
    </div>
</div>
