
<div>
 
    <!-- ETH COIN  -->
                <div class="container-fluid nopadd">
      
                    <div class="container">
                          <div class="white_Bg">
                      <div class="customr">
                              <h2 style="text-align: center;">Tutorial</h2> 
                            

                          <div class="token_sec_in">
                              <h3 style="text-align: center;"><b>HOW TO BUY OXY2 TOKENS</b></h3>

                              <p><b>Make sure only https://www.Cryptoxygen.com is indicated in the address bar.
                                <br>
                                <br>
                                To buy OXY2 tokens please click on “Buy Tokens Now”</b></p>
                                <div class="text-center">
                                        <img src="/assets/images/tutorial/screen1.jpg">
                                </div>

                                <p><b>You will be directed to our Registration Screen.</b></p>
                                <div class="text-center"><img src="/assets/images/tutorial/screen2.jpg"></div>
                                <ul>
                                    <li>Please input all <b>CORRECT</b> information as this information will be used to verify your purchase. <b>A mobile phone number and email is needed for account security.</b>
                                      </li>
                                      <li>  Please read over Terms and Conditions / Privacy Policy.
                                       </li>
                                       <li> You <b>MUST</b> be at least 18 Years of Age to Participate in the OXY2 public sale!</li>
                                </ul>
                                <p><b>Next step will bring you to the Buy Tokens page.</b></p>
                                <div class="text-center">
                                        <img src="/assets/images/tutorial/screen3.jpg">
                                </div>
                                <p><b>Please START by entering your ERC20 Compatible ETH Address:</b></p>
                                <div class="text-center">
                                        <img src="/assets/images/tutorial/screen4.jpg">
                                </div>
                                <p><b>Confirm Wallet Address before continuing to avoid errors.
                                    <br>Please do not use exchange wallets. Cryptoxygen Recommends the Following Wallets:</b></p>
                                    <ul>
                                        <li>MyEtherWallet</li>
                                        <li>MetaMask</li>
                                        <li>Parity</li>
                                        <li>Mist</li>
                                        <li>Or the Cryptoxygen Application (Once Delivered)</li>
                                    </ul>
                                    <p><b>After confirming wallet address you will notice the OXY2 Purchase Section at the Top of the ICO Panel</b></p>
                                    <div class="text-center">
                                            <img src="/assets/images/tutorial/screen5.jpg">
                                    </div>
                                    <p>Decide which method of payment you would like to use and click on the widget for your desired payment option. For this tutorial we will use Ethereum. Our process works the same for all cryptocurrency payment methods.</p>
                                    <div class="text-center">
                                        <img src="/assets/images/tutorial/screen6.jpg">
                                    </div>
                                    <p>
                                        You will notice once picked, the selected option will glow blue instead of red.</p>
                                        <p><b>Now the Platform will be showing you the current conversion rate for the Phase you are purchasing in.</b></p>
                                        <div class="text-center">
                                                <img src="/assets/images/tutorial/screen7.jpg">
                                        </div>
                                        <p><b>Click on the blue buy button.</b></p>
                                        <div class="text-center">
                                                <img src="/assets/images/tutorial/screen8.jpg">
                                        </div>
                                        <p><b>A Notification will pop up with the transaction information. Please copy and send your funds to the given wallet address. Make sure you are sending the correct cryptocurrency!</b></p>
                                        <div class="text-center">
                                                <img src="/assets/images/tutorial/screen9.jpg">
                                        </div>
                                        <p><b>The Calculator is there to help decide how many OXY2 tokens you would like to purchase.</b></p>
                                        <div class="text-center">
                                                <img src="/assets/images/tutorial/screen10.jpg">
                                        </div>
                                        <p>Please Abide by All minimum deposit amounts – if you do not meet the minimum there may be problems with your transaction. Cryptoxygen may not be able to retrieve your funds.</p>
                                        <p><b>After Sending your funds please press the red X in the upper Right Hand side of the Screen.</b></p>
                                        <div class="text-center">
                                                <img src="/assets/images/tutorial/screen11.jpg">
                                        </div>
                                        <p><b>Once your transaction is confirmed by your selected network the amount of OXY2 tokens you have purchased will appear in your OXY2 Dashboard.  Please allow time for confirmation!</b></p>
                                        <div class="text-center">
                                            <img src="/assets/images/tutorial/screen12.jpg">
                                        </div>
                                        <p><b>Buying with Credit Card</b></p>
                                        <p>Cryptoxygen uses a third party payment processor to verify all fiat transactions on our system. </p>
                                        <p><b>If you wish to pay with credit card please start by going to your User Dashboard on the upper right corner and clicking on KYC.</b></p>
                                        <div class="text-center">
                                            <img src="/assets/images/tutorial/screen13.jpg">
                                        </div>
                                        <p><b>Please fill out the selected KYC form</b> with all correct information as this will be paired to the images you provide us for verification. We then ask you to upload a form of identification (please see list) and another image of you holding that form of identification to verify you are a real person.</p>
                                        <div class="text-center">
                                                <img src="/assets/images/tutorial/screen14.jpg">
                                        </div>
                                        <p><b>Cryptoxygen accepts the following for KYC approval</b></p>
                                        <ul>
                                            <li>
                                                Drivers License
                                            </li>
                                            <li>
                                                Government Issued Photo ID
                                            </li>
                                            <li>
                                                Passport
                                            </li>
                                        </ul>
                                        <p>
                                            Images must be less than 1mb. You will receive an e-mail notification once your KYC is approved.
                    <br><br>
                    Cryptoxygen uses the latest facial recognition technology to compare the selfie given and your ID document. If you KYC is denied please try again with a more visible images. Your Selfie with ID picture must clearly display all information on your Identification document along with a clear image of your face. Please make sure correct lighting is given and the image is in focus!
                    <br><br>
                    If you continue to be denied please e-mail <a href="mailto:support@cryptoxygen.io">support@cryptoxygen.io</a> to get information on why your account has been denied.
                    <br><br>
                    Cryptoxygen reserves the right to deny certain users KYC verification based on assessed financial risk and local laws and regulations banning users from those areas from purchasing our token.
                    <br><br>
                    Cryptoxygen’s platform remains open to the whole world however it is USER’S RESPONSIBILITY to know their local governing laws when it comes to cryptocurrency and participation in Initial Coin Offerings. Cryptoxygen is based in Malta and abides by all of the local guidelines laid out in our country of registration.
                    <br><br>
                    <b>After KYC Approval you may click on Credit Card and hit the buy option.</b>
    </p>
    <div class="text-center">
            <img src="/assets/images/tutorial/screen15.jpg">
    </div>
    <p>You will then be prompted to enter your payment information. <b>PLEASE MAKE SURE ALL PAYMENT INFORMATION MATCHES THE INFORMATION PROVIDED IN YOUR KYC SECTION.

        <br><br>After the transaction is verified your OXY2 tokens will be added to your OXY2 Dashboard.</b></p>
        <div class="text-center">
                <img src="/assets/images/tutorial/screen16.jpg">
        </div>
        <p><b>You can view your transaction history at the bottom of the OXY2 Dashboard.</b></p>
        <div class="text-center">
                <img src="/assets/images/tutorial/screen17.jpg">
        </div>
        <p><b>All OXY2 Tokens will be delivered after the end of our ICO to your given ERC20 Compatible address. Once again, please make sure the address given for token delivery is correct. If you provide the wrong address or your account is compromised Cryptoxygen will NOT be able to retrieve your tokens.
            <br><br>
            If you run into errors or confirmation problems during this process please email <a href="mailto:support@cryptoxygen.io">support@cryptoxygen.io</a> or open a customer service ticket.
            <br><br>
            When e-mailing Cryptoxygen Support please give your full name along with the e-mail address attached to your account. We will never ask you for your password or to send funds to any other address than the address given through our OXY2 dashboard.
            </b></p>
        </div> 
        
    </div>
    
</div>
<!-- ETH COIN END -->                  
</div>
    
    