<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="row"> 
                <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 copyright">
                    <p>© Copyright 2018 Cryptoxygen | All right reserved.<a routerLink="/terms-conditions" style="color: rgba(255, 255, 255, 0.5);text-decoration: none;">Terms & Conditions</a> | <a style="color: rgba(255, 255, 255, 0.5);text-decoration: none;" routerLink="/privacy-policy">Privacy & Policy</a> </p>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5">
                    <ul class="social">
                        <li><a class="hvr-fade" target="_blank" href="https://www.facebook.com/Cryptoxygen/"><span class="fa fa-facebook"></span></a></li>
                        <li><a class="hvr-fade" target="_blank" href="https://twitter.com/cryptoxygencoin"><span class="fa fa-twitter"></span></a></li>
                        <li><a class="hvr-fade" target="_blank" href="https://www.quora.com/profile/Irina-Duisimbekova-2"><span class="fa fa-quora"></span></a></li>
                        <li><a class="hvr-fade" target="_blank" href="https://t.me/CryptoxygenTalk"><span class="fa fa-telegram"></span></a></li>
                        <li><a class="hvr-fade" target="_blank" href="https://www.reddit.com/user/cryptoxygencoin"><span class="fa fa-reddit"></span></a></li>
                        <!-- <li><a class="hvr-fade" target="_blank" href="https://medium.com/@crypto.oxy2"><span class="fa fa-medium"></span></a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer> 
      <div class="modal fade signup_model forget_model" id="myModal_forgot">
            <button type="button" class="close" data-dismiss="modal"></button>
          <div class="modal-dialog">
            <div class="modal-content">
        
              <!-- Modal body -->
              <div class="modal-body">
                  <h4>Reset your password</h4>
                  <form>
                      <div class="form-group">
                         <input type="text" class="form-control" id="text" placeholder="Email Address">
                      </div>
                      <div class="form-group">
                      <button type="submit" class="btn btn_blue">Get new password</button>
                      <p><a href="#"  data-dismiss="modal">Cancel</a></p>
                      </div>
                   </form>
              </div>
           </div>
          </div>
        </div>



      