<p-growl [(value)]="msgs"></p-growl>
<div class="container-fulid banner-inner" style="background: url(./assets/images/banner.png)">
    <h2>Reset Password</h2>
</div>

<div class="container-fluid faq_text_sec container faq">
    <div class="container">
      <div class="col-md-5">
          <form #f= "ngForm" (ngSubmit)="resetpassword(f)" >
            <div class="form-group">
              <label for="password">New Password *</label>
              <input type="password" minlength="5" required ngModel name = "pass"  #pass ="ngModel" id="password" class="form-control" >    
              <p class="text-danger" *ngIf="pass.touched && !pass.valid">
                  <span *ngIf = "pass.errors.required" >password is required</span> 
                  <span *ngIf = "pass.errors.minlength" >Minimum {{pass.errors.minlength.requiredLength}}  chracter Is required</span>
               </p>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password *</label>
              <input type="password" minlength="5" required ngModel name = "cpass"  #cpass ="ngModel" class="form-control" id="confirmPassword">
              <p class="text-danger" *ngIf="cpass.touched && !cpass.valid">
                  <span *ngIf = "cpass.errors.required" >confirm password is required</span> 
                  <span *ngIf = "cpass.errors.minlength" >Minimum {{password.errors.minlength.requiredLength}}  chracter Is required</span>
               </p>
            </div>
              <input type="submit" [disabled] = "!f.valid" class="btn btn-primary" value="submit" >
          </form>
      </div> 

    </div>
</div>
