@import '../../../assets/scss/main.scss';
.bgWhite{
    background: #fff;
}
.faq{
    padding-bottom: 50px;
    ul{
        margin-bottom: 25px;
        li{
            strong{
                max-width: 292px;
                width:100%;
                font-size: 15px;
                color: #999999;
                font-weight: 600;
                display: inline-block;
            }
            span{
                color: #999999;
                font-size: 15px;
            }
        }
    }
    h2{
        font-size: 30px;
        color: #282828;
        font-weight: 700;
        margin-top: 50px;
        margin-bottom: 14px;
        display: block;
    }
    h3{
        font-size: 15px;
        color: #333;
        margin-bottom: 10px;
        font-weight: 400;
        display: block;
    }
    p{
        font-size: 15px;
        color: #999999;
        margin-bottom: 20px;
    }
}